body {
    margin: 0;

    background-color: #333;
}

.navbar {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.navbar-left .brand {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family: poppins;
    font-weight: 400;
    line-height: 45px;
    text-align: left;

}

.navbar-right a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 24px;
    font-family: poppins;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.navbar-right a:hover {
    text-decoration: underline;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.text .a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF7575;
    font-size: 71px;
    font-family: Resursive;
    font-weight: 400;
    font-style: italic;
    line-height: 85.2px;
    text-align: left;
}

.text .b {
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 29px;
    line-height: 43.5px;

}

.narbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;

}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar .nav-links a {
    color: #E0E0E0;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navbar .nav-links a:hover {
    color: #FFFFFF;
}

.logo {

    margin-right: 10px;
    width: 24px;
    height: 24px;
    top: 264px;
    left: -307px;
    gap: 0px;
    opacity: 0px;

}

.logo1 {

    width: 24px;
    height: 24px;
    top: 264px;
    left: -270px;
    gap: 0px;
    opacity: 0px;

}



.containers {
    width: 1680px;
    height: 2753px;
    top: -445px;
    left: -527px;
    gap: 0px;
    opacity: 0px;

}

.containers .container1 {
    width: 1680px;
    height: 2753px;
    top: -445px;
    left: -527px;
    gap: 0px;
    opacity: 0px;

}

.containers .container1 .pic1 {
    width: 337.08px;
    height: 160px;
    top: 429px;
    left: -282.54px;
    gap: 0px;
    border-radius: 22px 0px 0px 0px;
    opacity: 0px;

}